 <!-- Footer -->
            <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- JS: Bootstrap 5 + jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables -->
    <script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.4/js/dataTables.bootstrap5.js"></script>

    <script>
      $(function() {
        $(".datatable").DataTable();
      });
    </script>
 
 <!-- Logout -->
 <script>
document.getElementById("logoutBtn").addEventListener("click", function(e) {
  e.preventDefault();

  Swal.fire({
    title: "",
    text: "Anda yakin ingin logout?",
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#d33",
    cancelButtonColor: "#3085d6",
    confirmButtonText: "Ya, Logout"
  }).then((result) => {
    if (result.isConfirmed) {
      window.location.href = "/logout";
    }
  });
});
</script>

<!-- DARK MODE SCRIPT -->
<script>
  const toggleBtn = document.getElementById("themeToggle");
  const themeIcon = document.getElementById("themeIcon");

  // Load saved theme
  if (localStorage.getItem("theme") === "light") {
    document.body.classList.add("light-mode");
    themeIcon.classList.replace("bi-moon", "bi-brightness-high");
  }

  toggleBtn.addEventListener("click", () => {
    document.body.classList.toggle("light-mode");

    if (document.body.classList.contains("light-mode")) {
      localStorage.setItem("theme", "light");
      themeIcon.classList.replace("bi-moon", "bi-brightness-high");
    } else {
      localStorage.setItem("theme", "dark");
      themeIcon.classList.replace("bi-brightness-high", "bi-moon");
    }
  });
</script>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded d-none" href="#page-top"></a>
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>
<!-- MODAL ADD CAMERA -->
<div class="modal fade" id="modalAddCamera" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content bg-dark text-white">

      <!-- Header -->
      <div class="modal-header bg-secondary text-white">
        <h5 class="modal-title">Add Manual Camera</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">

        <!-- FORM -->
        <form method="post" action="/camera/add" class="container-fluid">

          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Nama Camera</label>
              <input type="text" class="form-control bg-secondary text-white" name="name" required>
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">IP Address</label>
              <input type="text" class="form-control bg-secondary text-white" name="ip" required>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">PORT</label>
              <input type="text" class="form-control bg-secondary text-white" name="port" required>
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">User Name</label>
              <input type="text" class="form-control bg-secondary text-white" name="username" value="admin">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Password</label>
              <input type="text" class="form-control bg-secondary text-white" name="password" value="admin123">
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">Link Stream</label>
              <select class="form-select bg-secondary text-white" name="path_stream">
                <option selected disabled>path Stream</option>
                <option value="/tcp/av0_1">/tcp/av0_1</option>
                <option value="/Stream/Channel">/Stream/Channel</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Link Record</label>
              <select class="form-select bg-secondary text-white" name="path_rec">
                <option selected disabled>path Record</option>
                <option value="/tcp/av0_0">/tcp/av0_0</option>
                <option value="/Stream/Channel">/Stream/Channel</option>
              </select>
            </div>
          </div>

          <button type="submit" class="btn btn-success w-100 mb-2 mt-2">Save</button>
          <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal">Cancel</button>

        </form>

      </div>
    </div>
  </div>
</div>

</html>