<div class="card bg-dark text-white shadow-lg rounded-3" style="max-width: 700px; margin:auto;">
  
  <!-- Card Header -->
  <div class="card-header bg-primary text-white text-center py-3">
    <h4 class="mb-0">Add Manual Camera</h4>
  </div>

  <!-- Card Body -->
  <div class="card-body p-4 bg-dark-500">

    <% if (msg && msg.length !== 0) { %>
      <script>
        Swal.fire({
          icon: 'success',
          title: 'Berhasil!',
          html: `<%= msg %>`,
          timer: 2000,
          showConfirmButton: false,
        });
      </script>
    <% } %>

    <% if (error && error.length !== 0) { %>
      <script>
        Swal.fire({
          icon: 'error',
          title: 'Gagal!',
          html: `<%= error %>`,
          timer: 2500,
          showConfirmButton: false,
        });
      
      // Buka kembali modal setelah reload
    document.addEventListener("DOMContentLoaded", function () {
      var myModal = new bootstrap.Modal(document.getElementById('modalAddCamera'));
      myModal.show();
    });
  </script>
    <% } %>

    <% if (typeof errors != 'undefined') { %>
      <script>
        Swal.fire({
          icon: "error",
          title: "Validasi Gagal!",
          html: `
            <ul style="text-align:left;">
              <% errors.forEach(e => { %>
                <li><%= e.msg %></li>
              <% }) %>
            </ul>
          `,
        });
      </script>
    <% } %>

    <!-- FORM -->
    <form method="post" action="/camera/add" class="container-fluid">

      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Nama Camera</label>
          <input type="text" class="form-control" name="name" required>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">IP Address</label>
          <input type="text" class="form-control" name="ip" required>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">PORT</label>
          <input type="text" class="form-control" name="port" required>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">User Name</label>
          <input type="text" class="form-control" name="username" placeholder="ex. admin">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Password</label>
          <input type="text" class="form-control" name="password" placeholder="123456">
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Link Stream</label>
          <select class="form-select" name="path_stream">
            <option selected disabled>path Stream</option>
            <option value="/tcp/av0_1">/tcp/av0_1</option>
            <option value="/Stream/Channel">/Stream/Channel</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Link Record</label>
          <select class="form-select" name="path_rec">
            <option selected disabled>path Record</option>
            <option value="/tcp/av0_0">/tcp/av0_0</option>
            <option value="/Stream/Channel">/Stream/Channel</option>
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-success w-100 mb-2 mt-2">Save</button>
      <a href="/list" class="btn btn-danger w-100">Cancel</a>

    </form>

  </div>
</div>
