<div class="card bg-dark text-white shadow-lg rounded-3 p-4">
  <div class="card-body">

    <% if (msg && msg.length !== 0) { %>
      <script>
        Swal.fire({
          icon: 'success',
          title: 'Berhasil!',
          html: `<%= msg %>`,
          timer: 2000,
          showConfirmButton: false,
        });
      </script>
    <% } %>

    <% if (error && error.length !== 0) { %>
      <script>
        Swal.fire({
          icon: 'error',
          title: 'Gagal!',
          html: `<%= error %>`,
          timer: 2500,
          showConfirmButton: false,
        });
      </script>
    <% } %>

    <h2 class="text-center mb-4">Form Tambah Camera</h2>

    <% if (typeof errors != 'undefined') { %>
      <script>
        Swal.fire({
          icon: "error",
          title: "Validasi Gagal!",
          html: `
            <ul style="text-align:left;">
              <% errors.forEach(e => { %>
                <li><%= e.msg %></li>
              <% }) %>
            </ul>
          `,
        });
      </script>
    <% } %>

    <form method="post" action="/camera/add">

      <div class="mb-3">
        <label class="form-label">Nama Camera</label>
        <input type="text" class="form-control bg-secondary text-white" name="name" required>
      </div>

      <div class="mb-3">
        <label class="form-label">IP Address</label>
        <input type="text" class="form-control bg-secondary text-white" name="ip" required>
      </div>

      <div class="mb-3">
        <label class="form-label">PORT</label>
        <input type="text" class="form-control bg-secondary text-white" name="port" required>
      </div>

      <div class="mb-3">
        <label class="form-label">User Name</label>
        <input type="text" class="form-control bg-secondary text-white" name="username" value="admin">
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="text" class="form-control bg-secondary text-white" name="password" value="admin123">
      </div>

      <div class="mb-3">
        <label class="form-label">Link Stream</label>
        <select class="form-select bg-secondary text-white" name="path_stream">
          <option selected disabled>path Stream</option>
          <option value="/tcp/av0_1">/tcp/av0_1</option>
          <option value="/Stream/Channel">/Stream/Channel</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Link Record</label>
        <select class="form-select bg-secondary text-white" name="path_rec">
          <option selected disabled>path Record</option>
          <option value="/tcp/av0_0">/tcp/av0_0</option>
          <option value="/Stream/Channel">/Stream/Channel</option>
        </select>
      </div>

      <button type="submit" class="btn btn-success w-100 mb-2">Save</button>
      <a href="/list" class="btn btn-danger w-100">Cancel</a>

    </form>
  </div>
</div>
